{% extends "includes/layout.html" %}
{% block title %}Confirm Your Account{% endblock %}

{% block content %}


{% if keyerrors|length > 0 %}
	
	{% set errors = keyerrors %}
	{{ include('includes/errors.html') }}

	<p>Please try to <a href='create.php'>create your account again</a> or contact <a href='mailto:{{ systemEmailAddress }}'>{{ systemEmailAddress }}</a> for assistance.</p>

{% endif %}


{% if keyerrors|length == 0 %}
	<p>Please log in to confirm your account.</p>

	{% set errors = loginerrors %}
	{{ include('includes/errors.html') }}

<form action="confirm.php" method="post" accept-charset="iso-8859-1">

<label for="Email">Email address</label>
<input name="Email" id="Email" type="email" required /><br />

<label for="Password">Password</label>
<input name="Password" id="Password" type="password" autocomplete="off" required /><br />

<button type="submit" id="ConfirmAccount" value="ConfirmAccount">Confirm Your Account</button>
</form>
{% endif %}

{% endblock content %}
