{% extends "includes/layout.html" %}
{% block title %}Login{% endblock %}

{% block content %}


{{ include('includes/error.html') }}

<p>Please log in to this app.</p>

<form action="login.php" method="post" accept-charset="iso-8859-1">
<label for="Email">Email address</label>
<input name="Email" id="Email" type="text" /><br />

<label for="Password">Password</label>
<input name="Password" id="Password" type="password" autocomplete="off" /><br />

<button type="submit" id="Login" value="Login">Login</button>
</form>

<p>
	<a href="requestreset.php">Forgot password?</a> 
		| <a href="create.php">Create an account</a>
</p>



{% endblock content %}
