legend {margin: 0 5px 6px -7px;}

input.add-rev, input.add-all-rev, input.reset-rev, input.remove-rev {
font-size: 0; 
line-height: 0;
zoom:1;
}

.reviewers, p.reviewermenu, #ReviewForm {
zoom:1;
}

.reviewers {
position:relative;
z-index:100
}

.selectreviewers{
position:relative;
}

.reset-rev {
position:absolute;
bottom:0;
right:0;
}

.reviewersummary label, .reviewersummary span {
display:block;
zoom:1;
}

.reviewersummary {
zoom:1
}

.reviewersummary .reviewerdata {
float:none
}

#UpdateReview {
clear:left;
}

.nicetable th {
text-align:left
}