body {
	font-size: large;
	font-family: Arial;
}
header {
	background-color:  lightskyblue;
	margin: -23px -10px 20px -10px;
	padding-left: 50px;
}

label{
    display:inline-block; 
    width:200px;
}

input {
  height: 20px;
  flex: 0 0 200px;
  margin-left: 10px;
	margin-bottom: 10px;
	font-size: large;
}

form {
	background-color: aliceblue;
	padding:  10px;
	border-width:  0px;
}

.error, .weak-password, .strong-password, .very-strong-password  {
	padding:  10px;
}

.error, .weak-password {
	background-color: lightsalmon;
}

.strong-password {
	background-color: gold;
}

.very-strong-password {
	background-color: chartreuse;
}

button {
	padding: 10px;
	font-size: medium;
}