{% extends "includes/layout.html" %}
{% block title %}{% endblock %}

{% block content %}



<p>
Thanks for visiting! <a href="account/create.php">Please create an account</a> or log in below.
</p>



<div>
	<form action="account/login.php" method="post">
		<fieldset>
			<legend><strong>Login</strong></legend>
			<label for="Email">Email Address:</label> <input name="Email" id="Email" type="text" /><br />
			<label for="Password">Password:</label> <input name="Password" id="Password" type="password" autocomplete="off" /><br />
			<button type="submit" id="Login" value="Login">Login</button> <br />
		</fieldset>
		<p><a href="account/requestreset.php">Forgot your password?</a></p>
	</form>
</div>

{% endblock content %}
